.plContainer {
  overflow-x: auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  color: black;
}

.plFilterInput {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: aliceblue;
}

.plTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

.plTable th,
.plTable td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.plTable th {
  background-color: #f5f5f5;
  font-weight: bold;
  cursor: pointer;
}

.plTable tr:nth-child(even) {
  background-color: #fafafa;
}

.plTable tr:hover {
  background-color: #f1f1f1;
}

.plAction {
  color: #ef5350;
  cursor: pointer;
  font-weight: bold;
  border: none;
  background: none;
}
